@import '../../styles.scss';

.wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: repeat(5, auto);
    place-items: center;

    .map-tile {
        border: 2px solid $base-color;
        width: 12em;
        height: 12em;
        background-color: $background-tint;
        display: grid;
        place-items: center;
    }
}