.wrapper {
    margin: 0 auto;
    display: grid;
    place-items: center;

    .console {
        width: 100%;
        display: flex;
        flex-direction: row;

    }
}

app-map-canvas {
    width: 100%;
}

button {
    padding: 0.5em;
    margin-right: 0.5em;
}