<div class="tile-grid">
    <div routerLink="../map" class="tile-wide">
        <mat-icon>map</mat-icon>
        <span>Map</span>
    </div>
    <div routerLink="../settlements" class="tile">
        <mat-icon>table</mat-icon>
        <span>Settlements</span>
    </div>
    <div routerLink="../people" class="tile">
        <mat-icon>visibility_off</mat-icon>
        <span>Random Noise</span>
    </div>
    <div routerLink="../people" class="tile">
        <mat-icon>visibility_off</mat-icon>
        <span>Random Noise 2</span>
    </div>
</div>