@import '../../styles.scss';

.tile-grid {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    .tile {
        display: grid;
        place-items: center;
        margin: 1em;
        min-height: 12em;
        min-width: 12em;
        background-color: $base-color;
    } .tile:hover { background-color: $base-color-tint; border-radius: 3px;}
}